@page "/help/API/logout"
@model billy.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpAPISidebar.cshtml"); 
    }
}
@using billy.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("logout")</h3>
    @(Html.Raw(userConfig.GetText("H6601")))
</div>
