@page "/help/workflow/checklist"
@model billy.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpWorkflowSidebar.cshtml"); 
    }
}
@using billy.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@(userConfig.GetText("checklist"))</h3>
    @(Html.Raw(userConfig.GetText("H8601")))
</div>
